*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #ebebf3;
  --color-white: #fff;
  --color-primary: #4450bc;
  --color-border: #aaa;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  display: grid;
  place-content: center;
  padding: 2em;
}

label {
  display: block;
  font-size: 0.7em;
  font-weight: bold;
  margin: 0.325em 0;
}

input {
  display: block;
  padding: 1em;
  margin-bottom: 1.6em;
  border: 1px solid var(--color-border);
  border-radius: 0.275em;
  width: 100%;
}

input[type="submit"] {
  background-color: var(--color-primary);
  color: var(--color-white);
  opacity: 0.85;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

input[type="submit"]:hover {
  opacity: 1;
}

.card {
  background-color: var(--color-white);
  padding: 4em;
  border-radius: 1em;
  width: 350px;
  box-shadow: 0 1em 0.2em -0.2em #d5d8ef;
}

.title {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  max-width: 80%;
}

.info {
  font-size: 0.675em;
}

.alternative-text {
  margin-top: 2em;
  font-weight: bold;
  font-size: 0.675em;
}

.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 0.1em;
  margin-top: 0.5em;
}

.social i {
  padding: 0.875em 1em;
  border: 1px solid var(--color-border);
  border-radius: 0.275em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.social i:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 480px) {
  .card {
    padding: 2em;
    width: 250px;
  }
}
